/*Final CSS*/
/* body
{
    margin: 0 auto;
}
.better-with-pepsi-promo__bg {
    background-image: url(/images/PEP_BWP_D.jpg);
    background-repeat:no-repeat;
    background-color: #265cc5;
    position: absolute;
    top: 0;
    height: 100%;
    background-size: 160vw;
    background-position: 30% 0;
    width: 100%;
    min-height: 650px;
    max-height: 650px;   
}
.better-with-pepsi-promo__tagline img
{
    position: absolute;
    width: 37%;
    bottom: 2%;
    right: 0;
}
.left_main_container
{
    align-items: center;
    vertical-align: middle;
    width: 35%;
    min-height: 650px;
    max-height: 650px; 
    position: absolute;
    background-color: #265cc5;
    position: absolute;
}
.left_sub_container1
{   
    margin: 15% 0% 0% 0%;
    text-align: center;
    background: #1437bf;
    padding: 0px 0px 5px 0px;
}
.left_sub_container2
{   
    text-align: center; 
    margin: 5% 0% 0% 0%;     
    background: #1437bf;
}
.left_sub_container1 span
{  
    color: white;
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif
}
.left_sub_container2  span
{
    color: white;
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif
} */
/* header CSS */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
.navbar {
    width: 100%;
    background-color: #3466c3;
    overflow: auto;
    display: flex;
    align-items: center;
    position: fixed;
}
.navbar>.logo{

    right: 10px;
}
.navbar>.menu {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-evenly;
}
.navcta
{
    float: right !important;
    right: 20px;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #fff;
    border-radius: 30px;
}
.section1
{
    display: flex;
    background-image: url("/images/Section\ 1\ background.png");
}
/* .secleftside
{
} */
.secleftside>img
{
    max-width: 400px;
    margin-top: 100px;

}
.secrightside>img
{
    max-width: 300px;
    margin-top: 100px;
    right: 10px;
}
.footer_area{
    display: flex;
    align-items: center;
    background-color: #3466c3;
    justify-content: space-around;
    height: 250px;
}
.footer_area>image>img
{
    width: 400px;
}
.ql1>ul>li>a,.ql2>ul>li>a,.ql3>ul>li>a
{
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color:#fff;    
    text-decoration: none;
}
.ql4>ul>li>a
{
    max-width: 20px;
    position: relative;
}
ul{list-style-type: none;}