/*Final CSS*/
/* body
{
    margin: 0 auto;
}
.better-with-pepsi-promo__bg {
    background-image: url(/images/PEP_BWP_D.jpg);
    background-repeat:no-repeat;
    background-color: #265cc5;
    position: absolute;
    top: 0;
    height: 100%;
    background-size: 160vw;
    background-position: 30% 0;
    width: 100%;
    min-height: 650px;
    max-height: 650px;   
}
.better-with-pepsi-promo__tagline img
{
    position: absolute;
    width: 37%;
    bottom: 2%;
    right: 0;
}
.left_main_container
{
    align-items: center;
    vertical-align: middle;
    width: 35%;
    min-height: 650px;
    max-height: 650px; 
    position: absolute;
    background-color: #265cc5;
    position: absolute;
}
.left_sub_container1
{   
    margin: 15% 0% 0% 0%;
    text-align: center;
    background: #1437bf;
    padding: 0px 0px 5px 0px;
}
.left_sub_container2
{   
    text-align: center; 
    margin: 5% 0% 0% 0%;     
    background: #1437bf;
}
.left_sub_container1 span
{  
    color: white;
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif
}
.left_sub_container2  span
{
    color: white;
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif
} */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
/* Header*/
.navbar {
    width: 100%;
    background-color: #3466c3;
    overflow: auto;
    display: flex;
    align-items: center;
    position: fixed;
    height: 90px;
}
.navbar>.logo>img
{
    margin-left: 2rem;
    margin-right: 4rem;
    width: 60px;
}
.navbar>.menu {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    justify-content: space-evenly;
}
.navbar>.navcta
{
    float: right !important;
    margin-left: 36rem;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #fff;
    border-radius: 1.8em;
    width: 12%;
    height: 17%;
    text-align: center;
    padding: 0.4em 1.85em;
    text-transform: uppercase;
}
/* Section 1*/
.section1
{
    max-width: 1366px;
    max-height: 762px;
    display: flex;
    background-image: url("/images/Section\ 1\ background.png");
}
.secleftside
{
    margin-left: -145px;
}
.section1>.secleftside>img
{
    max-width: 829px;
    max-height: 670px;
    /* left: 100px; */
    margin-top: 170px;
}
.section1>.secrightside
{
    width: 100%;
    margin-left: -50px;
}
.section1>.secrightside>img
{
    max-width: 488px;
    max-height: 306px;
    margin-top: 180px;

}
.sec1cta
{
    margin: 6.5% 23%;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 22%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 0px;
    cursor: pointer;
}
.sec1cta>a
{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}
.section1>.secrightside>p
{
    color: #fff;
    font-size: .721rem;
    text-align: center;
    max-width: 425px;
    margin-top: 7%;
    margin-left: 5%;
}
/* Section 2*/
.section2
{
    position: relative;
    max-width: 1366px;
    max-height: 660px;
    display: flex;
    background-color: #000;
}
.sec2leftside
{
    margin-left: -145px;
}
.section2>.sec2leftside>img
{
    max-width: 949px;
    max-height: 890px;
    margin-top: -106px;
    margin-left: 90px;
}
.sec2new
{
    max-width: 185px !important;
    margin-left: 620px !important;
    margin-top: -1068px !important;
}
.section2>.sec2rightside
{
    width: 100%;
    margin-left: 50px;
}
.section2>.sec2rightside>.sec2rightimg1
{
    width: 485px;
    margin-top: 88px;
    margin-left: -195px;

}
.section2>.sec2rightside>.sec2rightimg2
{
    width: 350px;
    margin-top: 23px;
    margin-left: -128px;

}
.section2>.sec2rightside>.video1
{
    margin-left: -190px;
    margin-top: 20px;
}
.section2>.sec2rightside>.video2
{
    margin-left: 65px;
    margin-top: -159px;
}
.section2>.sec2rightside>.video1>.video-title1
{
    color: #fff;
    text-align: center;
    margin-left: -360px;
    font-size: 14px;
    font-weight: 300;
}
.section2>.sec2rightside>.video2>.video-title2
{
    color: #fff;
    text-align: center;
    margin-top: 0px;
    margin-left: -120px;
    font-size: 14px;
    font-weight: 300;
}
.sec2cta
{
    margin: 6.5% 23%;
    border: 2px solid #fff;
    border-radius: 30px;
    width: 22%;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 0px;
    cursor: pointer;
}
.sec2cta>a
{
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
}
.section2>.sec2rightside>p
{
    color: #fff;
    font-size: .721rem;
    text-align: center;
    max-width: 425px;
    margin-top: 7%;
    margin-left: 5%;
}
/*Footer*/
.footer_area{
    display: flex;
    align-items: center;
    background-color: #3466c3;
    justify-content: space-around;
    height: 250px;
}
.footer_area>.image>img
{
    width: 101px;
}
.ql1>ul>li>a,.ql2>ul>li>a,.ql3>ul>li>a
{
    font-family: Sofia Pro Black, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 25px;
    color:#fff;    
    text-decoration: none;
}
.ql4>a>img
{
    width: 30px;
    align-items: center;
    padding: 5px;
}
ul{list-style-type: none;}